* {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
}

img {
    max-width: 300px;
    max-height: 250px;
}

hr {
    margin-left: 350px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

div.para {
    padding-left: 40px;
    padding-top: 70px;
}

div.parag {
    padding-left: 150px;
}

div.paragr {
    padding-left: 120px;
}

div.paragra {
    padding-left: 132px;
}